In [1]:
import pandas as pd
import numpy as np

In [2]:
## get the DF provided by Coursera
link = "http://cocl.us/Geospatial_data"
df1 = pd.read_csv(link)

df1.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [3]:
#both the DF has same dimensions we can straight away merge them

df1.shape

(103, 3)

In [4]:
df = pd.read_csv('df_can.csv')
df.head()

   Unnamed: 0 Postcode      Borough                         Neighbourhood
0           0      M1B  Scarborough                         Rouge,Malvern
1           1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2           2      M1E  Scarborough       Guildwood,Morningside,West Hill
3           3      M1G  Scarborough                                Woburn
4           4      M1H  Scarborough                             Cedarbrae

In [5]:
#Ensure the name of the columns
df1.columns = ['Postcode','Latitude','Longitude']

cols = df1.columns.tolist()
cols

['Postcode', 'Latitude', 'Longitude']

In [6]:
## Merge two DFs

final_df = pd.merge(df, df1, on='Postcode')
final_df.head()

,Unnamed: 0,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,0,M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
1,1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
2,2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
3,3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476